<app-sizer [(size)]="fontSizePx"></app-sizer>
<div [style.font-size.px]="fontSizePx">Resizable Text</div>
<label>Fontsize (px)
  <input [(ngModel)]="fontSizePx" />
</label>  


<hr />
<app-sizer [size]="fontSizePx" (sizeChange)="fontSizePx=$event"></app-sizer>
<div [style.font-size.px]="fontSizePx">Resizable Text</div>

<hr />
<img [alt]="bookName" [src]="bookPicUrl" />
<button type="button" [disabled]="isAvailable">BUY</button>
<hr />
<ul>
  <li *ngFor="let obj of myObject | keyvalue">{{ obj.key }} {{ obj.value }}</li>
</ul>
<hr />

<p>{{ "hello" | getChar: 2:3 }}</p>
<p>{{ "camille" | getChar }}</p>
<p>{{ "céline" | getChar }}</p>

<hr />
  <p>{{ data[0] | truncate }}</p>
  <p>{{ data[1] | truncate }}</p>
  <p>{{ data[2] | truncate: 60: '[***]' }}</p>
  <p>{{ data[2] | truncate: 80: '[***]' }}</p>



<hr />
<h1>{{ title | uppercase }}</h1>
<p> {{ myDate | date: 'd MMM y' | uppercase }}</p>
<p>{{ user.firstName }} {{ user.lastName }}, {{ user.num }}</p>
<p>{{ sayHello() }}</p>
<hr />
<p [textContent]="name" [ngStyle]="{backgroundColor: color}"></p>
<p [textContent]="name" [ngClass]="{blue: displayBlue()}"></p>
<hr />
  <p [appMovement]="color">Mon texte</p>
<hr />
  <button appToggle>Click works !</button>
<ul>
  <ng-container *ngFor="let element of tab; index as i; first as isFirst">
    <li *ngIf="element % 2 != 0; else isPair">
      {{ i }} : {{ element }} {{ isFirst }}
    </li>
    <ng-template #isPair>
      <li><strong>{{ element}} {{ i }} est pair</strong></li>
    </ng-template>
  </ng-container>
</ul>
<hr />
<ul>
  <li *ngFor="let user of users">
    {{ user.firstName }} {{ user.lastName }}
  </li>
</ul>
<hr />
<ul>
  <ng-container *ngFor="let element of tab">
    <ng-container [ngSwitch]="true">
      <li *ngSwitchCase="element > 0 && element < 10">{{ element }}: échec</li>
      <li *ngSwitchCase="element >= 10 && element < 13">{{ element }}: moyen</li>
      <li *ngSwitchCase="element >= 13 && element < 15">{{ element }}: bon</li>
      <li *ngSwitchCase="element >= 15">{{ element }}: très bien</li>
      <li *ngSwitchDefault>
        autre
      </li>
    </ng-container>
  </ng-container>
</ul>

